In [1]:
import dask.dataframe as dd

/Users/matthewpowers/Library/Caches/pypoetry/virtualenvs/dask-examples-gRKtV8fQ-py3.7/lib/python3.7/site-packages/pandas/compat/__init__.py:120: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [11]:
dd.read_parquet('../data/pets_parquet/part.0.parquet').head(3)

  nickname  age
0     fofo    3
1      tio    1
2     lulu    9

In [13]:
dd.read_parquet('../data/pets_parquet/part.1.parquet').head(2)

  nickname  age
0      ooo    3
1      ppp    9

In [15]:
dd.read_parquet('../data/pets_parquet/part.2.parquet').head(2)

  nickname  age
0      aaa    2
1      bbb    4

In [17]:
dd.read_parquet('../data/pets_parquet/part.3.parquet').head(2)

  nickname  age
0      fff    7
1      lll   12